$cardBackground: hsl(244, 38%, 16%);

$accent: hsl(277, 64%, 61%);

$font: 15px;

.contenedorMayor {
  background-color: $cardBackground;
  width: 60%;
  height: 47%;
  display: flex;
  border-radius: 10px;
}
